.searchBar {
    font-weight: normal;
    position: sticky;
    top: 0;
    margin: 0;
    background-color: #bce4fa;
    padding: 3px 10px;
    text-align: right;

    label {
        display: inline-block;
        vertical-align: middle;
        ::placeholder {
            opacity: 0.85;
        }
        color: #000;
    }
    input {
        // border: 2px solid #000;
        margin: 0 5px;
        padding: 3px 10px;
        color: #000;
    }
}
